###  Advanced Analytics- Heritage health

In [522]:
#Importing the packages and csv for Year 2 data

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set_style("whitegrid")

df3 = pd.read_csv('MyData_dummy2.csv', index_col=0)

In [2]:
df3.head()

,MemberID,DSFS,Year,ProviderID,Vendor,PCP,Specialty,PlaceSvc,PayDelay,LengthOfStay,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS,DrugCount,LabCount,AgeAtFirstClaim,Sex,ClaimsTruncated,DaysInHospital
1,4,1,Y2,994608.0,851052.0,31106.0,Pediatrics,Office,43,0,RESPR4,0,EM,0,0,0,5,M,0,0
2,210,1,Y2,8448244.0,122401.0,37508.0,Internal,Office,38,0,PRGNCY,0,MED,0,0,1,35,Missing_Sex,0,0
3,210,1,Y2,7053364.0,240043.0,37508.0,Laboratory,Independent Lab,31,0,MSC2a3,0,PL,0,0,1,35,Missing_Sex,0,0
4,210,7,Y2,6380938.0,142747.0,37508.0,Other,Office,128,0,PRGNCY,0,MED,0,0,0,35,Missing_Sex,0,0
5,210,4,Y2,6380938.0,142747.0,37508.0,Other,Office,38,0,PRGNCY,0,EM,0,0,0,35,Missing_Sex,0,0

In [3]:
df3.columns

Index(['MemberID', 'DSFS', 'Year', 'ProviderID', 'Vendor', 'PCP', 'Specialty',
       'PlaceSvc', 'PayDelay', 'LengthOfStay', 'PrimaryConditionGroup',
       'CharlsonIndex', 'ProcedureGroup', 'SupLOS', 'DrugCount', 'LabCount',
       'AgeAtFirstClaim', 'Sex', 'ClaimsTruncated', 'DaysInHospital'],
      dtype='object')

In [4]:
# check the rows and columns
df3.shape

(898872, 20)

In [5]:
# To see what kind of data types we have in the data
df3.get_dtype_counts()

float64     3
int64      10
object      7
dtype: int64

In [6]:
df3.dtypes

MemberID                   int64
DSFS                       int64
Year                      object
ProviderID               float64
Vendor                   float64
PCP                      float64
Specialty                 object
PlaceSvc                  object
PayDelay                   int64
LengthOfStay               int64
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
DrugCount                  int64
LabCount                   int64
AgeAtFirstClaim            int64
Sex                       object
ClaimsTruncated            int64
DaysInHospital             int64
dtype: object

In [18]:
#df4 = df3[['MemberID','Specialty','PlaceSvc','PrimaryConditionGroup', 'ProcedureGroup', 'Sex']]
#df4.shape
#df4.get_dtype_counts()

int64     1
object    5
dtype: int64

In [7]:
df3.drop('Year', axis=1, inplace=True)

In [8]:
df4 = df3

In [9]:
df4.shape

(898872, 19)

In [10]:
df4 = pd.get_dummies(df4)
print(df4.shape)

(898872, 106)

In [11]:
df4.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SIS,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex
1,4,1,994608.0,851052.0,31106.0,43,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,210,1,8448244.0,122401.0,37508.0,38,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,210,1,7053364.0,240043.0,37508.0,31,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,210,7,6380938.0,142747.0,37508.0,128,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,210,4,6380938.0,142747.0,37508.0,38,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
df4.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'PayDelay',
       'LengthOfStay', 'SupLOS', 'DrugCount', 'LabCount',
       ...
       'ProcedureGroup_SIS', 'ProcedureGroup_SMCD', 'ProcedureGroup_SMS',
       'ProcedureGroup_SNS', 'ProcedureGroup_SO', 'ProcedureGroup_SRS',
       'ProcedureGroup_SUS', 'Sex_F', 'Sex_M', 'Sex_Missing_Sex'],
      dtype='object', length=106)

In [13]:
df4_na = (df4.isnull().sum())
df4_na

MemberID                                    0
DSFS                                        0
ProviderID                               5066
Vendor                                   8060
PCP                                      2554
PayDelay                                    0
LengthOfStay                                0
SupLOS                                      0
DrugCount                                   0
LabCount                                    0
AgeAtFirstClaim                             0
ClaimsTruncated                             0
DaysInHospital                              0
Specialty_Anesthesiology                    0
Specialty_Diagnostic Imaging                0
Specialty_Emergency                         0
Specialty_General Practice                  0
Specialty_Internal                          0
Specialty_Laboratory                        0
Specialty_Missing_Specialty                 0
Specialty_Obstetrics and Gynecology         0
Specialty_Other                             0
Specialty_Pathology                         0
Specialty_Pediatrics                        0
Specialty_Rehabilitation                    0
Specialty_Surgery                           0
PlaceSvc_Ambulance                          0
PlaceSvc_Home                               0
PlaceSvc_Independent Lab                    0
PlaceSvc_Inpatient Hospital                 0
                                         ...
PrimaryConditionGroup_SEPSIS                0
PrimaryConditionGroup_SKNAUT                0
PrimaryConditionGroup_STROKE                0
PrimaryConditionGroup_TRAUMA                0
PrimaryConditionGroup_UTI                   0
CharlsonIndex_0                             0
CharlsonIndex_1-2                           0
CharlsonIndex_3-4                           0
CharlsonIndex_5+                            0
ProcedureGroup_ANES                         0
ProcedureGroup_EM                           0
ProcedureGroup_MED                          0
ProcedureGroup_Missing_ProcedureGroup       0
ProcedureGroup_PL                           0
ProcedureGroup_RAD                          0
ProcedureGroup_SAS                          0
ProcedureGroup_SCS                          0
ProcedureGroup_SDS                          0
ProcedureGroup_SEOA                         0
ProcedureGroup_SGS                          0
ProcedureGroup_SIS                          0
ProcedureGroup_SMCD                         0
ProcedureGroup_SMS                          0
ProcedureGroup_SNS                          0
ProcedureGroup_SO                           0
ProcedureGroup_SRS                          0
ProcedureGroup_SUS                          0
Sex_F                                       0
Sex_M                                       0
Sex_Missing_Sex                             0
Length: 106, dtype: int64

In [72]:
#df4.to_csv('output_dummy.csv',index=False)

In [14]:
df5=df4
df5.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'PayDelay',
       'LengthOfStay', 'SupLOS', 'DrugCount', 'LabCount',
       ...
       'ProcedureGroup_SIS', 'ProcedureGroup_SMCD', 'ProcedureGroup_SMS',
       'ProcedureGroup_SNS', 'ProcedureGroup_SO', 'ProcedureGroup_SRS',
       'ProcedureGroup_SUS', 'Sex_F', 'Sex_M', 'Sex_Missing_Sex'],
      dtype='object', length=106)

In [15]:
df5 = df5.drop(['AgeAtFirstClaim' ,'ProviderID','Vendor','PCP'], axis=1)
#yourdf.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [16]:
df5.columns
df5.shape

(898872, 102)

In [17]:
#trying an approach of taking mean of all
pivot1 = pd.pivot_table(df4,index=["MemberID"])
pivot1.head()

,AgeAtFirstClaim,CharlsonIndex_0,CharlsonIndex_1-2,CharlsonIndex_3-4,CharlsonIndex_5+,ClaimsTruncated,DSFS,DaysInHospital,DrugCount,LabCount,...,Specialty_Laboratory,Specialty_Missing_Specialty,Specialty_Obstetrics and Gynecology,Specialty_Other,Specialty_Pathology,Specialty_Pediatrics,Specialty_Rehabilitation,Specialty_Surgery,SupLOS,Vendor
MemberID,,,,,,,,,,,,,,,,,,,,,
4,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,851052.0
210,35.0,1.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.333333,...,0.166667,0.0,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,155572.0
3197,5.0,1.0,0.0,0.0,0.0,0.0,1.8,0.0,1.2,1.600000,...,0.400000,0.0,0.0,0.000000,0.0,0.2,0.0,0.0,0.0,152090.6
3457,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,306597.0
3713,45.0,1.0,0.0,0.0,0.0,0.0,4.7,0.0,3.6,3.700000,...,0.200000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,196912.9

In [18]:
pivot1.shape

(71435, 105)

In [19]:
#doing sum of all dummy variables and ignoring 4 int variables where we need to do a mean
pivot0= pd.pivot_table(df5,index=['MemberID'],
                     aggfunc=[np.sum])
pivot0.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
4                      1                 0                 0                0
210                    6                 0                 0                0
3197                   5                 0                 0                0
3457                   1                 0                 0                0
3713                  10                 0                 0                0

                                                                              \
         ClaimsTruncated DSFS DaysInHospital DrugCount LabCount LengthOfStay
MemberID
4                      0    1              0         0        0            0
210                    0   27              0         0        2            0
3197                   0    9              0         6        8            0
3457                   0    1              0         0        0            0
3713                   0   47              0        36       37            0

          ...                                            \
          ...   Specialty_Internal Specialty_Laboratory
MemberID  ...
4         ...                    0                    0
210       ...                    1                    1
3197      ...                    1                    2
3457      ...                    0                    0
3713      ...                    0                    2

                                                                          \
         Specialty_Missing_Specialty Specialty_Obstetrics and Gynecology
MemberID
4                                  0                                   0
210                                0                                   0
3197                               0                                   0
3457                               0                                   0
3713                               0                                   0

                                                                   \
         Specialty_Other Specialty_Pathology Specialty_Pediatrics
MemberID
4                      0                   0                    1
210                    4                   0                    0
3197                   0                   0                    1
3457                   0                   0                    1
3713                   0                   0                    0


         Specialty_Rehabilitation Specialty_Surgery SupLOS
MemberID
4                               0                 0      0
210                             0                 0      0
3197                            0                 0      0
3457                            0                 0      0
3713                            0                 0      0

[5 rows x 101 columns]

In [20]:
#mean of Age 
pivot0_a= pd.pivot_table(df4,index=['MemberID'],values=['AgeAtFirstClaim'],
                     aggfunc=[np.mean])
pivot0_a.head()

                    mean
         AgeAtFirstClaim
MemberID
4                      5
210                   35
3197                   5
3457                   5
3713                  45

In [21]:
result = pd.concat([pivot0, pivot0_a], axis=1)
result.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
4                      1                 0                 0                0
210                    6                 0                 0                0
3197                   5                 0                 0                0
3457                   1                 0                 0                0
3713                  10                 0                 0                0

                                                                              \
         ClaimsTruncated DSFS DaysInHospital DrugCount LabCount LengthOfStay
MemberID
4                      0    1              0         0        0            0
210                    0   27              0         0        2            0
3197                   0    9              0         6        8            0
3457                   0    1              0         0        0            0
3713                   0   47              0        36       37            0

               ...                                                         \
               ...       Specialty_Laboratory Specialty_Missing_Specialty
MemberID       ...
4              ...                          0                           0
210            ...                          1                           0
3197           ...                          2                           0
3457           ...                          0                           0
3713           ...                          2                           0

                                                              \
         Specialty_Obstetrics and Gynecology Specialty_Other
MemberID
4                                          0               0
210                                        0               4
3197                                       0               0
3457                                       0               0
3713                                       0               0

                                                                            \
         Specialty_Pathology Specialty_Pediatrics Specialty_Rehabilitation
MemberID
4                          0                    1                        0
210                        0                    0                        0
3197                       0                    1                        0
3457                       0                    1                        0
3713                       0                    0                        0

                                             mean
         Specialty_Surgery SupLOS AgeAtFirstClaim
MemberID
4                        0      0               5
210                      0      0              35
3197                     0      0               5
3457                     0      0               5
3713                     0      0              45

[5 rows x 102 columns]

In [22]:
#distinct count of 3 integer variables  
pivot0_b= pd.pivot_table(df4,index=['MemberID'],values=['ProviderID','Vendor','PCP'],
                     aggfunc=lambda x: len((x.dropna()).unique()))

pivot0_b.head(20)

          PCP  ProviderID  Vendor
MemberID
4         1.0         1.0     1.0
210       1.0         3.0     3.0
3197      1.0         4.0     3.0
3457      1.0         1.0     1.0
3713      2.0         5.0     5.0
3741      1.0         3.0     3.0
5187      1.0         1.0     1.0
8213      1.0         2.0     2.0
10242     2.0         4.0     4.0
11951     1.0         8.0     8.0
14033     1.0         1.0     1.0
14661     1.0         4.0     4.0
14778     2.0         6.0     5.0
17249     1.0         1.0     1.0
18190     1.0        12.0     9.0
18333     1.0         5.0     5.0
20072     1.0        12.0     8.0
20482     1.0         3.0     3.0
21207     1.0         8.0     6.0
25756     1.0         1.0     1.0

In [23]:
###### this is the final aggregated df to export to r

result1 = pd.concat([result, pivot0_b], axis=1)
result1.head(20)

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DSFS)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)",...,"(sum, Specialty_Other)","(sum, Specialty_Pathology)","(sum, Specialty_Pediatrics)","(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)",PCP,ProviderID,Vendor
MemberID,,,,,,,,,,,,,,,,,,,,,
4,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,5,1.0,1.0,1.0
210,6,0,0,0,0,27,0,0,2,0,...,4,0,0,0,0,0,35,1.0,3.0,3.0
3197,5,0,0,0,0,9,0,6,8,0,...,0,0,1,0,0,0,5,1.0,4.0,3.0
3457,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,5,1.0,1.0,1.0
3713,10,0,0,0,0,47,0,36,37,0,...,0,0,0,0,0,0,45,2.0,5.0,5.0
3741,18,2,0,0,0,73,0,62,56,0,...,0,0,0,0,2,0,75,1.0,3.0,3.0
5187,2,0,0,0,0,2,0,0,0,0,...,0,0,2,0,0,0,5,1.0,1.0,1.0
8213,3,0,0,0,0,5,0,0,8,0,...,0,0,0,0,0,0,15,1.0,2.0,2.0
10242,13,1,0,0,0,34,0,1,42,6,...,0,0,0,0,0,0,25,2.0,4.0,4.0
11951,11,0,0,0,0,16,0,0,9,1,...,0,0,1,0,1,0,15,1.0,8.0,8.0
14033,4,0,0,0,0,16,8,3,3,0,...,0,0,0,0,0,0,15,1.0,1.0,1.0
14661,12,0,0,0,0,63,0,0,19,0,...,0,0,5,0,0,0,5,1.0,4.0,4.0
14778,8,0,0,0,0,31,0,13,1,0,...,0,0,0,0,0,0,35,2.0,6.0,5.0
17249,2,0,0,0,0,2,0,0,0,0,...,0,0,2,0,0,0,15,1.0,1.0,1.0
18190,0,18,0,0,0,35,0,97,18,0,...,0,0,0,0,7,0,80,1.0,12.0,9.0
18333,0,10,0,0,0,54,0,4,30,0,...,0,0,0,0,0,0,80,1.0,5.0,5.0
20072,18,24,0,0,0,375,0,95,120,1,...,0,0,0,0,1,1,99,1.0,12.0,8.0
20482,21,0,0,0,0,108,0,0,25,0,...,0,0,0,0,0,0,45,1.0,3.0,3.0
21207,0,16,0,0,0,108,0,85,11,1,...,0,2,0,0,0,0,80,1.0,8.0,6.0
25756,2,0,0,0,0,2,0,10,0,0,...,0,0,2,0,0,0,25,1.0,1.0,1.0

In [24]:
result1.to_csv('out_Agg_dummy_Y2_r01.csv',index=True)

In [ ]:
# IGNORE THIS FOR NOW this was an earlier tedious attempt
#trying to manually summarise each column which was too tedious so used above approach. saving it for future. 

#pd.pivot_table(df4,index=["MemberID],columns=["Product"],values=["Quantity","Price"],
              # aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)
"""                      
pivot2= pd.pivot_table(df4,index=['MemberID'],
                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',
                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',
                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',
                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', 
                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',
                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',
                              'Specialty_Surgery':'sum',
                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',
                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',
                              'PlaceSvc_Urgent Care':'sum'
                              
                                                       
                             
                             
                             })



pivot2.head()
"""