###  Advanced Analytics- Heritage Health

In [12]:
#importing packages and csv
%matplotlib inline

import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set_style("whitegrid")

df1 = pd.read_csv('Dummy1.csv', index_col=0)

In [13]:
df1.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,Specialty,PlaceSvc,PayDelay,LengthOfStay,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS,DrugCount,LabCount,AgeAtFirstClaim,Sex,ClaimsTruncated,DaysInHospital
1,210,2,7053364.0,240043.0,37508.0,Laboratory,Independent Lab,22,0,MSC2a3,0,SCS,0,0,2,35,Missing_Sex,0,0
2,210,1,9121540.0,523791.0,37508.0,Emergency,Urgent Care,57,2,GIOBSENT,0,SDS,0,2,0,35,Missing_Sex,0,0
3,210,1,3554799.0,423477.0,18880.0,Emergency,Urgent Care,162,0,GIOBSENT,0,EM,0,2,0,35,Missing_Sex,0,0
4,210,1,8448244.0,122401.0,37508.0,Internal,Office,151,0,GYNEC1,0,MED,0,2,0,35,Missing_Sex,0,0
5,210,7,8448244.0,122401.0,37508.0,Internal,Office,86,0,GYNEC1,0,MED,0,0,0,35,Missing_Sex,0,0

In [14]:
df1.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'Specialty',
       'PlaceSvc', 'PayDelay', 'LengthOfStay', 'PrimaryConditionGroup',
       'CharlsonIndex', 'ProcedureGroup', 'SupLOS', 'DrugCount', 'LabCount',
       'AgeAtFirstClaim', 'Sex', 'ClaimsTruncated', 'DaysInHospital'],
      dtype='object')

In [15]:
# check the rows and columns
df1.shape

(865689, 19)

In [16]:
# To see what kind of data types we have in the data
df1.get_dtype_counts()

float64     3
int64      10
object      6
dtype: int64

In [17]:
df1.dtypes

MemberID                   int64
DSFS                       int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Specialty                 object
PlaceSvc                  object
PayDelay                   int64
LengthOfStay               int64
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
DrugCount                  int64
LabCount                   int64
AgeAtFirstClaim            int64
Sex                       object
ClaimsTruncated            int64
DaysInHospital             int64
dtype: object

In [18]:
df2 = df1
df2.shape

(865689, 19)

In [19]:
df2 = pd.get_dummies(df2)
print(df2.shape)

(865689, 106)

In [20]:
df2.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SIS,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex
1,210,2,7053364.0,240043.0,37508.0,22,0,0,0,2,...,0,0,0,0,0,0,0,0,0,1
2,210,1,9121540.0,523791.0,37508.0,57,2,0,2,0,...,0,0,0,0,0,0,0,0,0,1
3,210,1,3554799.0,423477.0,18880.0,162,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
4,210,1,8448244.0,122401.0,37508.0,151,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
5,210,7,8448244.0,122401.0,37508.0,86,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
df2.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'PayDelay',
       'LengthOfStay', 'SupLOS', 'DrugCount', 'LabCount',
       ...
       'ProcedureGroup_SIS', 'ProcedureGroup_SMCD', 'ProcedureGroup_SMS',
       'ProcedureGroup_SNS', 'ProcedureGroup_SO', 'ProcedureGroup_SRS',
       'ProcedureGroup_SUS', 'Sex_F', 'Sex_M', 'Sex_Missing_Sex'],
      dtype='object', length=106)

In [23]:
df2_na = (df2.isnull().sum())
df2_na

MemberID                                    0
DSFS                                        0
ProviderID                               4922
Vendor                                   7890
PCP                                      2393
PayDelay                                    0
LengthOfStay                                0
SupLOS                                      0
DrugCount                                   0
LabCount                                    0
AgeAtFirstClaim                             0
ClaimsTruncated                             0
DaysInHospital                              0
Specialty_Anesthesiology                    0
Specialty_Diagnostic Imaging                0
Specialty_Emergency                         0
Specialty_General Practice                  0
Specialty_Internal                          0
Specialty_Laboratory                        0
Specialty_Missing_Specialty                 0
Specialty_Obstetrics and Gynecology         0
Specialty_Other                             0
Specialty_Pathology                         0
Specialty_Pediatrics                        0
Specialty_Rehabilitation                    0
Specialty_Surgery                           0
PlaceSvc_Ambulance                          0
PlaceSvc_Home                               0
PlaceSvc_Independent Lab                    0
PlaceSvc_Inpatient Hospital                 0
                                         ...
PrimaryConditionGroup_SEPSIS                0
PrimaryConditionGroup_SKNAUT                0
PrimaryConditionGroup_STROKE                0
PrimaryConditionGroup_TRAUMA                0
PrimaryConditionGroup_UTI                   0
CharlsonIndex_0                             0
CharlsonIndex_1-2                           0
CharlsonIndex_3-4                           0
CharlsonIndex_5+                            0
ProcedureGroup_ANES                         0
ProcedureGroup_EM                           0
ProcedureGroup_MED                          0
ProcedureGroup_Missing_ProcedureGroup       0
ProcedureGroup_PL                           0
ProcedureGroup_RAD                          0
ProcedureGroup_SAS                          0
ProcedureGroup_SCS                          0
ProcedureGroup_SDS                          0
ProcedureGroup_SEOA                         0
ProcedureGroup_SGS                          0
ProcedureGroup_SIS                          0
ProcedureGroup_SMCD                         0
ProcedureGroup_SMS                          0
ProcedureGroup_SNS                          0
ProcedureGroup_SO                           0
ProcedureGroup_SRS                          0
ProcedureGroup_SUS                          0
Sex_F                                       0
Sex_M                                       0
Sex_Missing_Sex                             0
Length: 106, dtype: int64

In [24]:
#### NOTES
# Count of Claims per patient
# Mean of Pay Delay
# DSFS --> mean or sum?
# LengthOfStay --> mean or sum?
# Drug Count -- mean or sum?
# Lab Count -- mean or sum?
# Age -- I think should be mean (it is)
# 



# created a new df3 dataframe so that I could drop these 4 variables, as they require different aggregation.
df3 = df2
df3 = df3.drop(['AgeAtFirstClaim' ,'ProviderID','Vendor','PCP'], axis=1)
#yourdf.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [26]:
df3.columns
df3.shape
df3.head()

,MemberID,DSFS,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,ClaimsTruncated,DaysInHospital,Specialty_Anesthesiology,...,ProcedureGroup_SIS,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex
1,210,2,22,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,210,1,57,2,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,210,1,162,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,210,1,151,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,210,7,86,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
#will use df3 to do sum on all dummy variables in one line and then add other aggregated variables using concat later
#doing sum of all dummy variables without including 4 int variables, as they require us to do a mean
pivot0= pd.pivot_table(df5,index=['MemberID'],
                     aggfunc=[np.sum])
pivot0.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
210                    8                 0                 0                0
3197                   5                 0                 0                0
3889                   9                 4                 0                0
4187                   4                 0                 0                0
9063                   4                 0                 0                0

                                                                              \
         ClaimsTruncated DSFS DaysInHospital DrugCount LabCount LengthOfStay
MemberID
210                    0   28              0         8        4            0
3197                   0   33              0         5        0            0
3889                   0   14              0        41      120            0
4187                   0   15              0        22        0            0
9063                   0    5              0         4        0            0

          ...                                            \
          ...   Specialty_Internal Specialty_Laboratory
MemberID  ...
210       ...                    4                    2
3197      ...                    0                    0
3889      ...                    4                    4
4187      ...                    2                    0
9063      ...                    3                    0

                                                                          \
         Specialty_Missing_Specialty Specialty_Obstetrics and Gynecology
MemberID
210                                0                                   0
3197                               0                                   0
3889                               0                                   0
4187                               0                                   0
9063                               0                                   0

                                                                   \
         Specialty_Other Specialty_Pathology Specialty_Pediatrics
MemberID
210                    0                   0                    0
3197                   0                   0                    3
3889                   0                   0                    0
4187                   1                   0                    0
9063                   0                   0                    0


         Specialty_Rehabilitation Specialty_Surgery SupLOS
MemberID
210                             0                 0      0
3197                            0                 0      1
3889                            0                 0      0
4187                            0                 0      0
9063                            0                 0      0

[5 rows x 101 columns]

In [23]:
#mean of Age using df4 
pivot0_a= pd.pivot_table(df4,index=['MemberID'],values=['AgeAtFirstClaim'],
                     aggfunc=[np.mean])
pivot0_a.head()

                    mean
         AgeAtFirstClaim
MemberID
210                   35
3197                   5
3889                  99
4187                  55
9063                  65

In [24]:
result = pd.concat([pivot0, pivot0_a], axis=1)
result.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
210                    8                 0                 0                0
3197                   5                 0                 0                0
3889                   9                 4                 0                0
4187                   4                 0                 0                0
9063                   4                 0                 0                0

                                                                              \
         ClaimsTruncated DSFS DaysInHospital DrugCount LabCount LengthOfStay
MemberID
210                    0   28              0         8        4            0
3197                   0   33              0         5        0            0
3889                   0   14              0        41      120            0
4187                   0   15              0        22        0            0
9063                   0    5              0         4        0            0

               ...                                                         \
               ...       Specialty_Laboratory Specialty_Missing_Specialty
MemberID       ...
210            ...                          2                           0
3197           ...                          0                           0
3889           ...                          4                           0
4187           ...                          0                           0
9063           ...                          0                           0

                                                              \
         Specialty_Obstetrics and Gynecology Specialty_Other
MemberID
210                                        0               0
3197                                       0               0
3889                                       0               0
4187                                       0               1
9063                                       0               0

                                                                            \
         Specialty_Pathology Specialty_Pediatrics Specialty_Rehabilitation
MemberID
210                        0                    0                        0
3197                       0                    3                        0
3889                       0                    0                        0
4187                       0                    0                        0
9063                       0                    0                        0

                                             mean
         Specialty_Surgery SupLOS AgeAtFirstClaim
MemberID
210                      0      0              35
3197                     0      1               5
3889                     0      0              99
4187                     0      0              55
9063                     0      0              65

[5 rows x 102 columns]

In [27]:
#count distinct values for these 3 variables
pivot0_b= pd.pivot_table(df4,index=['MemberID'],values=['ProviderID','Vendor','PCP'],
                     aggfunc=lambda x: len((x.dropna()).unique()))

pivot0_b.head(20)

          PCP  ProviderID  Vendor
MemberID
210       2.0         4.0     4.0
3197      1.0         3.0     3.0
3889      1.0         7.0     7.0
4187      1.0         3.0     3.0
9063      1.0         2.0     2.0
11951     1.0         3.0     3.0
14661     1.0         2.0     2.0
14701     1.0         2.0     2.0
14778     2.0         5.0     4.0
14855     1.0         1.0     1.0
17249     1.0         1.0     1.0
18190     1.0         4.0     5.0
18333     1.0         2.0     2.0
18514     1.0         2.0     2.0
20072     1.0         6.0     6.0
20269     1.0         3.0     3.0
20482     1.0         4.0     4.0
21207     1.0        10.0     8.0
23328     1.0         4.0     3.0
26116     1.0         1.0     1.0

In [33]:
###### this is the final aggregated df to export to r
# brought all aggregated variables together
result1 = pd.concat([result, pivot0_b], axis=1)
result1.head(20)

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DSFS)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)",...,"(sum, Specialty_Other)","(sum, Specialty_Pathology)","(sum, Specialty_Pediatrics)","(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)",PCP,ProviderID,Vendor
MemberID,,,,,,,,,,,,,,,,,,,,,
210,8,0,0,0,0,28,0,8,4,0,...,0,0,0,0,0,0,35,2.0,4.0,4.0
3197,5,0,0,0,0,33,0,5,0,0,...,0,0,3,0,0,1,5,1.0,3.0,3.0
3889,9,4,0,0,0,14,0,41,120,0,...,0,0,0,0,0,0,99,1.0,7.0,7.0
4187,4,0,0,0,0,15,0,22,0,0,...,1,0,0,0,0,0,55,1.0,3.0,3.0
9063,4,0,0,0,0,5,0,4,0,0,...,0,0,0,0,0,0,65,1.0,2.0,2.0
11951,6,0,0,0,0,26,6,0,15,0,...,0,0,3,0,1,0,15,1.0,3.0,3.0
14661,2,0,0,0,0,2,0,2,4,0,...,0,0,1,0,0,0,5,1.0,2.0,2.0
14701,3,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,35,1.0,2.0,2.0
14778,6,0,0,0,0,13,0,7,8,0,...,0,0,0,0,0,0,35,2.0,5.0,4.0
14855,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,35,1.0,1.0,1.0
17249,4,0,0,0,0,4,0,0,8,0,...,0,0,4,0,0,0,15,1.0,1.0,1.0
18190,7,1,0,0,0,21,0,17,22,0,...,0,0,0,0,2,0,80,1.0,4.0,5.0
18333,0,10,0,0,0,42,0,14,22,0,...,0,0,0,0,0,0,80,1.0,2.0,2.0
18514,4,0,0,0,0,4,0,0,20,0,...,0,0,0,0,0,0,55,1.0,2.0,2.0
20072,15,0,0,0,0,84,45,17,2,0,...,0,0,0,1,3,0,99,1.0,6.0,6.0
20269,7,0,0,0,0,12,0,0,24,0,...,0,0,1,0,0,0,5,1.0,3.0,3.0
20482,36,0,0,0,0,204,0,0,74,0,...,0,0,0,0,2,0,45,1.0,4.0,4.0
21207,4,26,0,0,30,183,30,142,55,0,...,0,0,0,0,0,0,80,1.0,10.0,8.0
23328,7,0,0,0,0,33,0,0,8,0,...,0,0,0,0,0,0,45,1.0,4.0,3.0
26116,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,5,1.0,1.0,1.0

In [32]:
result1.to_csv('out_Agg_dummy_r01.csv',index=True)

In [ ]:
# IGNORE THIS FOR NOW this was an earlier tedious attempt
#trying to manually summarise each column which was too tedious so used above approach. saving it for future. 

#pd.pivot_table(df4,index=["MemberID],columns=["Product"],values=["Quantity","Price"],
              # aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)
"""                      
pivot2= pd.pivot_table(df4,index=['MemberID'],
                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',
                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',
                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',
                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', 
                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',
                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',
                              'Specialty_Surgery':'sum',
                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',
                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',
                              'PlaceSvc_Urgent Care':'sum'
                              
                                                       
                             
                             
                             })



pivot2.head()
"""