###  Advanced Analytics- Heritage Health Network: Year 1

In [1]:
#importing packages and csv for Year 1 data
%matplotlib inline

import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set_style("whitegrid")

df1 = pd.read_csv('Dummy1.csv', index_col=0)

In [2]:
df1.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,Specialty,PlaceSvc,PayDelay,LengthOfStay,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS,DrugCount,LabCount,AgeAtFirstClaim,Sex,ClaimsTruncated,DaysInHospital
1,210,2,7053364.0,240043.0,37508.0,Laboratory,Independent Lab,22,0,MSC2a3,0,SCS,0,0,2,35,Missing_Sex,0,0
2,210,1,9121540.0,523791.0,37508.0,Emergency,Urgent Care,57,2,GIOBSENT,0,SDS,0,2,0,35,Missing_Sex,0,0
3,210,1,3554799.0,423477.0,18880.0,Emergency,Urgent Care,162,0,GIOBSENT,0,EM,0,2,0,35,Missing_Sex,0,0
4,210,1,8448244.0,122401.0,37508.0,Internal,Office,151,0,GYNEC1,0,MED,0,2,0,35,Missing_Sex,0,0
5,210,7,8448244.0,122401.0,37508.0,Internal,Office,86,0,GYNEC1,0,MED,0,0,0,35,Missing_Sex,0,0

In [3]:
df1.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'Specialty',
       'PlaceSvc', 'PayDelay', 'LengthOfStay', 'PrimaryConditionGroup',
       'CharlsonIndex', 'ProcedureGroup', 'SupLOS', 'DrugCount', 'LabCount',
       'AgeAtFirstClaim', 'Sex', 'ClaimsTruncated', 'DaysInHospital'],
      dtype='object')

In [4]:
# check the rows and columns
df1.shape

(865689, 19)

In [5]:
# To see what kind of data types we have in the data
df1.get_dtype_counts()

float64     3
int64      10
object      6
dtype: int64

In [6]:
df1.dtypes

MemberID                   int64
DSFS                       int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Specialty                 object
PlaceSvc                  object
PayDelay                   int64
LengthOfStay               int64
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
DrugCount                  int64
LabCount                   int64
AgeAtFirstClaim            int64
Sex                       object
ClaimsTruncated            int64
DaysInHospital             int64
dtype: object

In [7]:
#make a copy
df2 = df1
df2.shape

(865689, 19)

In [8]:
df2 = pd.get_dummies(df2)
print(df2.shape)

(865689, 106)

In [9]:
df2.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SIS,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex
1,210,2,7053364.0,240043.0,37508.0,22,0,0,0,2,...,0,0,0,0,0,0,0,0,0,1
2,210,1,9121540.0,523791.0,37508.0,57,2,0,2,0,...,0,0,0,0,0,0,0,0,0,1
3,210,1,3554799.0,423477.0,18880.0,162,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
4,210,1,8448244.0,122401.0,37508.0,151,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
5,210,7,8448244.0,122401.0,37508.0,86,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df2.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'PayDelay',
       'LengthOfStay', 'SupLOS', 'DrugCount', 'LabCount',
       ...
       'ProcedureGroup_SIS', 'ProcedureGroup_SMCD', 'ProcedureGroup_SMS',
       'ProcedureGroup_SNS', 'ProcedureGroup_SO', 'ProcedureGroup_SRS',
       'ProcedureGroup_SUS', 'Sex_F', 'Sex_M', 'Sex_Missing_Sex'],
      dtype='object', length=106)

In [11]:
df2_na = (df2.isnull().sum())
df2_na

MemberID                                    0
DSFS                                        0
ProviderID                               4922
Vendor                                   7890
PCP                                      2393
PayDelay                                    0
LengthOfStay                                0
SupLOS                                      0
DrugCount                                   0
LabCount                                    0
AgeAtFirstClaim                             0
ClaimsTruncated                             0
DaysInHospital                              0
Specialty_Anesthesiology                    0
Specialty_Diagnostic Imaging                0
Specialty_Emergency                         0
Specialty_General Practice                  0
Specialty_Internal                          0
Specialty_Laboratory                        0
Specialty_Missing_Specialty                 0
Specialty_Obstetrics and Gynecology         0
Specialty_Other                             0
Specialty_Pathology                         0
Specialty_Pediatrics                        0
Specialty_Rehabilitation                    0
Specialty_Surgery                           0
PlaceSvc_Ambulance                          0
PlaceSvc_Home                               0
PlaceSvc_Independent Lab                    0
PlaceSvc_Inpatient Hospital                 0
                                         ...
PrimaryConditionGroup_SEPSIS                0
PrimaryConditionGroup_SKNAUT                0
PrimaryConditionGroup_STROKE                0
PrimaryConditionGroup_TRAUMA                0
PrimaryConditionGroup_UTI                   0
CharlsonIndex_0                             0
CharlsonIndex_1-2                           0
CharlsonIndex_3-4                           0
CharlsonIndex_5+                            0
ProcedureGroup_ANES                         0
ProcedureGroup_EM                           0
ProcedureGroup_MED                          0
ProcedureGroup_Missing_ProcedureGroup       0
ProcedureGroup_PL                           0
ProcedureGroup_RAD                          0
ProcedureGroup_SAS                          0
ProcedureGroup_SCS                          0
ProcedureGroup_SDS                          0
ProcedureGroup_SEOA                         0
ProcedureGroup_SGS                          0
ProcedureGroup_SIS                          0
ProcedureGroup_SMCD                         0
ProcedureGroup_SMS                          0
ProcedureGroup_SNS                          0
ProcedureGroup_SO                           0
ProcedureGroup_SRS                          0
ProcedureGroup_SUS                          0
Sex_F                                       0
Sex_M                                       0
Sex_Missing_Sex                             0
Length: 106, dtype: int64

In [12]:
#introduce random column for counting MemberID
df2['MemberID_Count'] = 1
df2.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex,MemberID_Count
1,210,2,7053364.0,240043.0,37508.0,22,0,0,0,2,...,0,0,0,0,0,0,0,0,1,1
2,210,1,9121540.0,523791.0,37508.0,57,2,0,2,0,...,0,0,0,0,0,0,0,0,1,1
3,210,1,3554799.0,423477.0,18880.0,162,0,0,2,0,...,0,0,0,0,0,0,0,0,1,1
4,210,1,8448244.0,122401.0,37508.0,151,0,0,2,0,...,0,0,0,0,0,0,0,0,1,1
5,210,7,8448244.0,122401.0,37508.0,86,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [13]:
#### NOTES
# Count of Claims per patient
# Mean of Pay Delay
# DSFS --> mean

# LengthOfStay --> sum
# Drug Count -- sum
# Lab Count -- sum
# Age -- should be mean



# created a new df3 dataframe so that I could drop these 4 variables, as they require different aggregation.
df3 = df2
df3 = df3.drop(['AgeAtFirstClaim' ,'ProviderID','Vendor','PCP','PayDelay','DSFS'], axis=1)
#yourdf.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [14]:
pivot0 = pd.pivot_table(df3,index=['MemberID'], values = ['MemberID_Count'],
                     aggfunc = 'count')
pivot0.head()

          MemberID_Count
MemberID
210                    8
3197                   5
3889                  13
4187                   4
9063                   4

In [15]:
df3.columns
df3.shape
df3.head()

,MemberID,LengthOfStay,SupLOS,DrugCount,LabCount,ClaimsTruncated,DaysInHospital,Specialty_Anesthesiology,Specialty_Diagnostic Imaging,Specialty_Emergency,...,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex,MemberID_Count
1,210,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,210,2,0,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
3,210,0,0,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
4,210,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
5,210,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [16]:
#will use df3 to do sum on all dummy variables in one line and then add other aggregated variables using concat later
#doing sum of all dummy variables without including 4 int variables, as they require us to do a mean
pivot1 = pd.pivot_table(df3,index=['MemberID'],
                     aggfunc=[np.sum])
pivot1.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
210                    8                 0                 0                0
3197                   5                 0                 0                0
3889                   9                 4                 0                0
4187                   4                 0                 0                0
9063                   4                 0                 0                0

                                                                         \
         ClaimsTruncated DaysInHospital DrugCount LabCount LengthOfStay
MemberID
210                    0              0         8        4            2
3197                   0              0         5        0            0
3889                   0              0        41      120            3
4187                   0              0        22        0            0
9063                   0              0         4        0            0

                         ...                                            \
         MemberID_Count  ...   Specialty_Internal Specialty_Laboratory
MemberID                 ...
210                   8  ...                    4                    2
3197                  5  ...                    0                    0
3889                 13  ...                    4                    4
4187                  4  ...                    2                    0
9063                  4  ...                    3                    0

                                                                          \
         Specialty_Missing_Specialty Specialty_Obstetrics and Gynecology
MemberID
210                                0                                   0
3197                               0                                   0
3889                               0                                   0
4187                               0                                   0
9063                               0                                   0

                                                                   \
         Specialty_Other Specialty_Pathology Specialty_Pediatrics
MemberID
210                    0                   0                    0
3197                   0                   0                    3
3889                   0                   0                    0
4187                   1                   0                    0
9063                   0                   0                    0


         Specialty_Rehabilitation Specialty_Surgery SupLOS
MemberID
210                             0                 0      0
3197                            0                 0      1
3889                            0                 0      0
4187                            0                 0      0
9063                            0                 0      0

[5 rows x 100 columns]

In [17]:
#mean of Age, 'PayDelay','DSFS', using df2 
pivot2 = pd.pivot_table(df2,index=['MemberID'],values=['AgeAtFirstClaim','PayDelay','DSFS'],
                     aggfunc=[np.mean])
pivot2.head()

                    mean
         AgeAtFirstClaim      DSFS   PayDelay
MemberID
210                 35.0  3.500000  90.000000
3197                 5.0  6.600000  98.400000
3889                99.0  1.076923  70.692308
4187                55.0  3.750000  85.000000
9063                65.0  1.250000  60.250000

In [18]:
result1 = pd.concat([pivot1, pivot2, pivot0], axis=1)
result1.head()

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)","(sum, MemberID_Count)",...,"(sum, Specialty_Other)","(sum, Specialty_Pathology)","(sum, Specialty_Pediatrics)","(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)","(mean, DSFS)","(mean, PayDelay)",MemberID_Count
MemberID,,,,,,,,,,,,,,,,,,,,,
210,8,0,0,0,0,0,8,4,2,8,...,0,0,0,0,0,0,35.0,3.500000,90.000000,8
3197,5,0,0,0,0,0,5,0,0,5,...,0,0,3,0,0,1,5.0,6.600000,98.400000,5
3889,9,4,0,0,0,0,41,120,3,13,...,0,0,0,0,0,0,99.0,1.076923,70.692308,13
4187,4,0,0,0,0,0,22,0,0,4,...,1,0,0,0,0,0,55.0,3.750000,85.000000,4
9063,4,0,0,0,0,0,4,0,0,4,...,0,0,0,0,0,0,65.0,1.250000,60.250000,4

In [19]:
#count distinct values for these 3 variables
pivot3 = pd.pivot_table(df2,index=['MemberID'],values=['ProviderID','Vendor','PCP'],
                     aggfunc=lambda x: len((x.dropna()).unique()))

pivot3.head(20)

          PCP  ProviderID  Vendor
MemberID
210       2.0         4.0     4.0
3197      1.0         3.0     3.0
3889      1.0         7.0     7.0
4187      1.0         3.0     3.0
9063      1.0         2.0     2.0
11951     1.0         3.0     3.0
14661     1.0         2.0     2.0
14701     1.0         2.0     2.0
14778     2.0         5.0     4.0
14855     1.0         1.0     1.0
17249     1.0         1.0     1.0
18190     1.0         4.0     5.0
18333     1.0         2.0     2.0
18514     1.0         2.0     2.0
20072     1.0         6.0     6.0
20269     1.0         3.0     3.0
20482     1.0         4.0     4.0
21207     1.0        10.0     8.0
23328     1.0         4.0     3.0
26116     1.0         1.0     1.0

In [20]:
###### this is the final aggregated df to export to r
# brought all aggregated variables together
result2 = pd.concat([result1, pivot3], axis=1)
result2.head(20)

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)","(sum, MemberID_Count)",...,"(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)","(mean, DSFS)","(mean, PayDelay)",MemberID_Count,PCP,ProviderID,Vendor
MemberID,,,,,,,,,,,,,,,,,,,,,
210,8,0,0,0,0,0,8,4,2,8,...,0,0,0,35.0,3.500000,90.000000,8,2.0,4.0,4.0
3197,5,0,0,0,0,0,5,0,0,5,...,0,0,1,5.0,6.600000,98.400000,5,1.0,3.0,3.0
3889,9,4,0,0,0,0,41,120,3,13,...,0,0,0,99.0,1.076923,70.692308,13,1.0,7.0,7.0
4187,4,0,0,0,0,0,22,0,0,4,...,0,0,0,55.0,3.750000,85.000000,4,1.0,3.0,3.0
9063,4,0,0,0,0,0,4,0,0,4,...,0,0,0,65.0,1.250000,60.250000,4,1.0,2.0,2.0
11951,6,0,0,0,0,6,0,15,0,6,...,0,1,0,15.0,4.333333,41.666667,6,1.0,3.0,3.0
14661,2,0,0,0,0,0,2,4,0,2,...,0,0,0,5.0,1.000000,76.500000,2,1.0,2.0,2.0
14701,3,0,0,0,0,0,0,0,0,3,...,0,0,0,35.0,1.000000,99.333333,3,1.0,2.0,2.0
14778,6,0,0,0,0,0,7,8,0,6,...,0,0,0,35.0,2.166667,87.166667,6,2.0,5.0,4.0
14855,1,0,0,0,0,0,0,0,0,1,...,0,0,0,35.0,1.000000,38.000000,1,1.0,1.0,1.0
17249,4,0,0,0,0,0,0,8,0,4,...,0,0,0,15.0,1.000000,22.000000,4,1.0,1.0,1.0
18190,7,1,0,0,0,0,17,22,0,8,...,0,2,0,80.0,2.625000,79.250000,8,1.0,4.0,5.0
18333,0,10,0,0,0,0,14,22,0,10,...,0,0,0,80.0,4.200000,33.800000,10,1.0,2.0,2.0
18514,4,0,0,0,0,0,0,20,0,4,...,0,0,0,55.0,1.000000,37.250000,4,1.0,2.0,2.0
20072,15,0,0,0,0,45,17,2,3,15,...,1,3,0,99.0,5.600000,51.466667,15,1.0,6.0,6.0
20269,7,0,0,0,0,0,0,24,0,7,...,0,0,0,5.0,1.714286,162.000000,7,1.0,3.0,3.0
20482,36,0,0,0,0,0,0,74,0,36,...,0,2,0,45.0,5.666667,36.194444,36,1.0,4.0,4.0
21207,4,26,0,0,30,30,142,55,0,30,...,0,0,0,80.0,6.100000,60.200000,30,1.0,10.0,8.0
23328,7,0,0,0,0,0,0,8,0,7,...,0,0,0,45.0,4.714286,83.571429,7,1.0,4.0,3.0
26116,1,0,0,0,0,0,0,0,0,1,...,0,0,0,5.0,1.000000,53.000000,1,1.0,1.0,1.0

In [21]:
result2.to_csv('out_Agg_dummy_Y1.csv',index=True)

In [22]:
# IGNORE THIS FOR NOW this was an earlier tedious attempt
#trying to manually summarise each column which was too tedious so used above approach. saving it for future. 

#pd.pivot_table(df4,index=["MemberID],columns=["Product"],values=["Quantity","Price"],
              # aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)
"""                      
pivot2= pd.pivot_table(df4,index=['MemberID'],
                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',
                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',
                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',
                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', 
                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',
                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',
                              'Specialty_Surgery':'sum',
                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',
                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',
                              'PlaceSvc_Urgent Care':'sum'
                              
                                                       
                             
                             
                             })



pivot2.head()
"""

"                      \npivot2= pd.pivot_table(df4,index=['MemberID'],\n                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',\n                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',\n                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',\n                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', \n                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',\n                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',\n                              'Specialty_Surgery':'sum',\n                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',\n                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',\n                              'PlaceSvc_Urgent Care':'sum'\n                              \n                                                       \n                             \n                             \n                             })\n\n\n\npivot2.head()\n"