###  Advanced Analytics- Heritage Health Network: Year 2

In [1]:
#Importing the packages and csv for Year 2 data
%matplotlib inline

import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set_style("whitegrid")

df1 = pd.read_csv('Dummy2.csv', index_col=0)

In [2]:
df1.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,Specialty,PlaceSvc,PayDelay,LengthOfStay,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS,DrugCount,LabCount,AgeAtFirstClaim,Sex,ClaimsTruncated,DaysInHospital
1,4,1,994608.0,851052.0,31106.0,Pediatrics,Office,43,0,RESPR4,0,EM,0,0,0,5,M,0,0
2,210,1,8448244.0,122401.0,37508.0,Internal,Office,38,0,PRGNCY,0,MED,0,0,1,35,Missing_Sex,0,0
3,210,1,7053364.0,240043.0,37508.0,Laboratory,Independent Lab,31,0,MSC2a3,0,PL,0,0,1,35,Missing_Sex,0,0
4,210,7,6380938.0,142747.0,37508.0,Other,Office,128,0,PRGNCY,0,MED,0,0,0,35,Missing_Sex,0,0
5,210,4,6380938.0,142747.0,37508.0,Other,Office,38,0,PRGNCY,0,EM,0,0,0,35,Missing_Sex,0,0

In [3]:
df1.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'Specialty',
       'PlaceSvc', 'PayDelay', 'LengthOfStay', 'PrimaryConditionGroup',
       'CharlsonIndex', 'ProcedureGroup', 'SupLOS', 'DrugCount', 'LabCount',
       'AgeAtFirstClaim', 'Sex', 'ClaimsTruncated', 'DaysInHospital'],
      dtype='object')

In [4]:
# check the rows and columns
df1.shape

(898872, 19)

In [5]:
# To see what kind of data types we have in the data
df1.get_dtype_counts()

float64     3
int64      10
object      6
dtype: int64

In [6]:
df1.dtypes

MemberID                   int64
DSFS                       int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Specialty                 object
PlaceSvc                  object
PayDelay                   int64
LengthOfStay               int64
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
DrugCount                  int64
LabCount                   int64
AgeAtFirstClaim            int64
Sex                       object
ClaimsTruncated            int64
DaysInHospital             int64
dtype: object

In [7]:
#make a copy
df2 = df1
df2.shape

(898872, 19)

In [8]:
df2 = pd.get_dummies(df2)
print(df2.shape)

(898872, 106)

In [9]:
df2.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SIS,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex
1,4,1,994608.0,851052.0,31106.0,43,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,210,1,8448244.0,122401.0,37508.0,38,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,210,1,7053364.0,240043.0,37508.0,31,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,210,7,6380938.0,142747.0,37508.0,128,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,210,4,6380938.0,142747.0,37508.0,38,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df2.columns

Index(['MemberID', 'DSFS', 'ProviderID', 'Vendor', 'PCP', 'PayDelay',
       'LengthOfStay', 'SupLOS', 'DrugCount', 'LabCount',
       ...
       'ProcedureGroup_SIS', 'ProcedureGroup_SMCD', 'ProcedureGroup_SMS',
       'ProcedureGroup_SNS', 'ProcedureGroup_SO', 'ProcedureGroup_SRS',
       'ProcedureGroup_SUS', 'Sex_F', 'Sex_M', 'Sex_Missing_Sex'],
      dtype='object', length=106)

In [11]:
df2_na = (df2.isnull().sum())
df2_na

MemberID                                    0
DSFS                                        0
ProviderID                               5066
Vendor                                   8060
PCP                                      2554
PayDelay                                    0
LengthOfStay                                0
SupLOS                                      0
DrugCount                                   0
LabCount                                    0
AgeAtFirstClaim                             0
ClaimsTruncated                             0
DaysInHospital                              0
Specialty_Anesthesiology                    0
Specialty_Diagnostic Imaging                0
Specialty_Emergency                         0
Specialty_General Practice                  0
Specialty_Internal                          0
Specialty_Laboratory                        0
Specialty_Missing_Specialty                 0
Specialty_Obstetrics and Gynecology         0
Specialty_Other                             0
Specialty_Pathology                         0
Specialty_Pediatrics                        0
Specialty_Rehabilitation                    0
Specialty_Surgery                           0
PlaceSvc_Ambulance                          0
PlaceSvc_Home                               0
PlaceSvc_Independent Lab                    0
PlaceSvc_Inpatient Hospital                 0
                                         ...
PrimaryConditionGroup_SEPSIS                0
PrimaryConditionGroup_SKNAUT                0
PrimaryConditionGroup_STROKE                0
PrimaryConditionGroup_TRAUMA                0
PrimaryConditionGroup_UTI                   0
CharlsonIndex_0                             0
CharlsonIndex_1-2                           0
CharlsonIndex_3-4                           0
CharlsonIndex_5+                            0
ProcedureGroup_ANES                         0
ProcedureGroup_EM                           0
ProcedureGroup_MED                          0
ProcedureGroup_Missing_ProcedureGroup       0
ProcedureGroup_PL                           0
ProcedureGroup_RAD                          0
ProcedureGroup_SAS                          0
ProcedureGroup_SCS                          0
ProcedureGroup_SDS                          0
ProcedureGroup_SEOA                         0
ProcedureGroup_SGS                          0
ProcedureGroup_SIS                          0
ProcedureGroup_SMCD                         0
ProcedureGroup_SMS                          0
ProcedureGroup_SNS                          0
ProcedureGroup_SO                           0
ProcedureGroup_SRS                          0
ProcedureGroup_SUS                          0
Sex_F                                       0
Sex_M                                       0
Sex_Missing_Sex                             0
Length: 106, dtype: int64

In [12]:
#introduce random column for counting MemberID
df2['MemberID_Count'] = 1
df2.head()

,MemberID,DSFS,ProviderID,Vendor,PCP,PayDelay,LengthOfStay,SupLOS,DrugCount,LabCount,...,ProcedureGroup_SMCD,ProcedureGroup_SMS,ProcedureGroup_SNS,ProcedureGroup_SO,ProcedureGroup_SRS,ProcedureGroup_SUS,Sex_F,Sex_M,Sex_Missing_Sex,MemberID_Count
1,4,1,994608.0,851052.0,31106.0,43,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,210,1,8448244.0,122401.0,37508.0,38,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
3,210,1,7053364.0,240043.0,37508.0,31,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
4,210,7,6380938.0,142747.0,37508.0,128,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
5,210,4,6380938.0,142747.0,37508.0,38,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [13]:
# created a new df3 dataframe so that I could drop these 4 variables, as they require different aggregation.
df3 = df2
df3 = df3.drop(['AgeAtFirstClaim' ,'ProviderID','Vendor','PCP','PayDelay','DSFS'], axis=1)

In [14]:
pivot0 = pd.pivot_table(df3,index=['MemberID'], values = ['MemberID_Count'],
                     aggfunc = 'count')
pivot0.head()

          MemberID_Count
MemberID
4                      1
210                    6
3197                   5
3457                   1
3713                  10

In [15]:
#will use df3 to do sum on all dummy variables in one line and then add other aggregated variables using concat later
#doing sum of all dummy variables without including 4 int variables, as they require us to do a mean
pivot1 = pd.pivot_table(df3,index=['MemberID'],
                     aggfunc=[np.sum])
pivot1.head()

                     sum                                                       \
         CharlsonIndex_0 CharlsonIndex_1-2 CharlsonIndex_3-4 CharlsonIndex_5+
MemberID
4                      1                 0                 0                0
210                    6                 0                 0                0
3197                   5                 0                 0                0
3457                   1                 0                 0                0
3713                  10                 0                 0                0

                                                                         \
         ClaimsTruncated DaysInHospital DrugCount LabCount LengthOfStay
MemberID
4                      0              0         0        0            0
210                    0              0         0        2            0
3197                   0              0         6        8            0
3457                   0              0         0        0            0
3713                   0              0        36       37            0

                         ...                                            \
         MemberID_Count  ...   Specialty_Internal Specialty_Laboratory
MemberID                 ...
4                     1  ...                    0                    0
210                   6  ...                    1                    1
3197                  5  ...                    1                    2
3457                  1  ...                    0                    0
3713                 10  ...                    0                    2

                                                                          \
         Specialty_Missing_Specialty Specialty_Obstetrics and Gynecology
MemberID
4                                  0                                   0
210                                0                                   0
3197                               0                                   0
3457                               0                                   0
3713                               0                                   0

                                                                   \
         Specialty_Other Specialty_Pathology Specialty_Pediatrics
MemberID
4                      0                   0                    1
210                    4                   0                    0
3197                   0                   0                    1
3457                   0                   0                    1
3713                   0                   0                    0


         Specialty_Rehabilitation Specialty_Surgery SupLOS
MemberID
4                               0                 0      0
210                             0                 0      0
3197                            0                 0      0
3457                            0                 0      0
3713                            0                 0      0

[5 rows x 100 columns]

In [16]:
#mean of Age, 'PayDelay','DSFS', using df2 
pivot2 = pd.pivot_table(df2,index=['MemberID'],values=['AgeAtFirstClaim','PayDelay','DSFS'],
                     aggfunc=[np.mean])
pivot2.head()

                    mean
         AgeAtFirstClaim DSFS   PayDelay
MemberID
4                    5.0  1.0  43.000000
210                 35.0  4.5  51.333333
3197                 5.0  1.8  29.600000
3457                 5.0  1.0  63.000000
3713                45.0  4.7  56.200000

In [17]:
result1 = pd.concat([pivot1, pivot2, pivot0], axis=1)
result1.head()

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)","(sum, MemberID_Count)",...,"(sum, Specialty_Other)","(sum, Specialty_Pathology)","(sum, Specialty_Pediatrics)","(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)","(mean, DSFS)","(mean, PayDelay)",MemberID_Count
MemberID,,,,,,,,,,,,,,,,,,,,,
4,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,5.0,1.0,43.000000,1
210,6,0,0,0,0,0,0,2,0,6,...,4,0,0,0,0,0,35.0,4.5,51.333333,6
3197,5,0,0,0,0,0,6,8,0,5,...,0,0,1,0,0,0,5.0,1.8,29.600000,5
3457,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,5.0,1.0,63.000000,1
3713,10,0,0,0,0,0,36,37,0,10,...,0,0,0,0,0,0,45.0,4.7,56.200000,10

In [18]:
#distinct count of 3 integer variables  
pivot3 = pd.pivot_table(df2,index=['MemberID'],values=['ProviderID','Vendor','PCP'],
                     aggfunc=lambda x: len((x.dropna()).unique()))

pivot3.head(20)

          PCP  ProviderID  Vendor
MemberID
4         1.0         1.0     1.0
210       1.0         3.0     3.0
3197      1.0         4.0     3.0
3457      1.0         1.0     1.0
3713      2.0         5.0     5.0
3741      1.0         3.0     3.0
5187      1.0         1.0     1.0
8213      1.0         2.0     2.0
10242     2.0         4.0     4.0
11951     1.0         8.0     8.0
14033     1.0         1.0     1.0
14661     1.0         4.0     4.0
14778     2.0         6.0     5.0
17249     1.0         1.0     1.0
18190     1.0        12.0     9.0
18333     1.0         5.0     5.0
20072     1.0        12.0     8.0
20482     1.0         3.0     3.0
21207     1.0         8.0     6.0
25756     1.0         1.0     1.0

In [19]:
###### this is the final aggregated df to export to r
# brought all aggregated variables together
result2 = pd.concat([result1, pivot3], axis=1)
result2.head(20)

,"(sum, CharlsonIndex_0)","(sum, CharlsonIndex_1-2)","(sum, CharlsonIndex_3-4)","(sum, CharlsonIndex_5+)","(sum, ClaimsTruncated)","(sum, DaysInHospital)","(sum, DrugCount)","(sum, LabCount)","(sum, LengthOfStay)","(sum, MemberID_Count)",...,"(sum, Specialty_Rehabilitation)","(sum, Specialty_Surgery)","(sum, SupLOS)","(mean, AgeAtFirstClaim)","(mean, DSFS)","(mean, PayDelay)",MemberID_Count,PCP,ProviderID,Vendor
MemberID,,,,,,,,,,,,,,,,,,,,,
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,5.0,1.000000,43.000000,1,1.0,1.0,1.0
210,6,0,0,0,0,0,0,2,0,6,...,0,0,0,35.0,4.500000,51.333333,6,1.0,3.0,3.0
3197,5,0,0,0,0,0,6,8,0,5,...,0,0,0,5.0,1.800000,29.600000,5,1.0,4.0,3.0
3457,1,0,0,0,0,0,0,0,0,1,...,0,0,0,5.0,1.000000,63.000000,1,1.0,1.0,1.0
3713,10,0,0,0,0,0,36,37,0,10,...,0,0,0,45.0,4.700000,56.200000,10,2.0,5.0,5.0
3741,18,2,0,0,0,0,62,56,0,20,...,0,2,0,75.0,3.650000,18.000000,20,1.0,3.0,3.0
5187,2,0,0,0,0,0,0,0,0,2,...,0,0,0,5.0,1.000000,32.500000,2,1.0,1.0,1.0
8213,3,0,0,0,0,0,0,8,0,3,...,0,0,0,15.0,1.666667,48.000000,3,1.0,2.0,2.0
10242,13,1,0,0,0,0,1,42,6,14,...,0,0,0,25.0,2.428571,45.000000,14,2.0,4.0,4.0
11951,11,0,0,0,0,0,0,9,1,11,...,0,1,0,15.0,1.454545,55.272727,11,1.0,8.0,8.0
14033,4,0,0,0,0,8,3,3,0,4,...,0,0,0,15.0,4.000000,25.250000,4,1.0,1.0,1.0
14661,12,0,0,0,0,0,0,19,0,12,...,0,0,0,5.0,5.250000,53.083333,12,1.0,4.0,4.0
14778,8,0,0,0,0,0,13,1,0,8,...,0,0,0,35.0,3.875000,40.000000,8,2.0,6.0,5.0
17249,2,0,0,0,0,0,0,0,0,2,...,0,0,0,15.0,1.000000,41.000000,2,1.0,1.0,1.0
18190,0,18,0,0,0,0,97,18,0,18,...,0,7,0,80.0,1.944444,51.388889,18,1.0,12.0,9.0
18333,0,10,0,0,0,0,4,30,0,10,...,0,0,0,80.0,5.400000,36.700000,10,1.0,5.0,5.0
20072,18,24,0,0,0,0,95,120,1,42,...,0,1,1,99.0,8.928571,61.642857,42,1.0,12.0,8.0
20482,21,0,0,0,0,0,0,25,0,21,...,0,0,0,45.0,5.142857,21.523810,21,1.0,3.0,3.0
21207,0,16,0,0,0,0,85,11,1,16,...,0,0,0,80.0,6.750000,56.250000,16,1.0,8.0,6.0
25756,2,0,0,0,0,0,10,0,0,2,...,0,0,0,25.0,1.000000,49.500000,2,1.0,1.0,1.0

In [20]:
result2.to_csv('out_Agg_dummy_Y2.csv',index=True)

In [21]:
# IGNORE THIS FOR NOW this was an earlier tedious attempt
#trying to manually summarise each column which was too tedious so used above approach. saving it for future. 

#pd.pivot_table(df4,index=["MemberID],columns=["Product"],values=["Quantity","Price"],
              # aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)
"""                      
pivot2= pd.pivot_table(df4,index=['MemberID'],
                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',
                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',
                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',
                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', 
                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',
                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',
                              'Specialty_Surgery':'sum',
                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',
                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',
                              'PlaceSvc_Urgent Care':'sum'
                              
                                                       
                             
                             
                             })



pivot2.head()
"""

"                      \npivot2= pd.pivot_table(df4,index=['MemberID'],\n                     aggfunc={'DSFS' : 'sum', 'ProviderID' : 'count', 'Vendor' : 'count', 'PayDelay':'sum','PCP':'count',\n                              'LengthOfStay': 'sum','SupLOS' : 'sum', 'DrugCount' : 'sum', 'LabCount' : 'sum',\n                              'AgeAtFirstClaim':'mean','ClaimsTruncated': 'sum','DaysInHospital':'sum','Specialty_Anesthesiology':'sum',\n                              'Specialty_Diagnostic Imaging':'sum',  'Specialty_Emergency':'sum', 'Specialty_General Practice':'sum', \n                              'Specialty_Internal':'sum','Specialty_Laboratory':'sum','Specialty_Missing_Specialty':'sum','Specialty_Obstetrics and Gynecology':'sum',\n                              'Specialty_Other':'sum','Specialty_Pathology':'sum','Specialty_Pediatrics':'sum','Specialty_Rehabilitation':'sum',\n                              'Specialty_Surgery':'sum',\n                              'PlaceSvc_Ambulance':'sum', 'PlaceSvc_Home':'sum','PlaceSvc_Independent Lab':'sum','PlaceSvc_Inpatient Hospital':'sum',\n                              'PlaceSvc_Missing_PlaceSvc':'sum','PlaceSvc_Office':'sum','PlaceSvc_Other':'sum','PlaceSvc_Outpatient Hospital':'sum',\n                              'PlaceSvc_Urgent Care':'sum'\n                              \n                                                       \n                             \n                             \n                             })\n\n\n\npivot2.head()\n"